{% extends "app/layout.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
{% endblock extra_head %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Inicio</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <form action="{% url 'guardar_simulacion' %}" class="col" method="POST" name="simulacion" id="simulacion">
            {% csrf_token %}
            <input type="hidden" name="quantum" id="input-quantum" value="10">
            <input type="hidden" name="memoria" id="input-memoria" value="512">
            <input type="hidden" name="partes_fijas" id="input-partes-fijas" value="">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown float-right">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownOpcionesProc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownOpcionesProc">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#nuevoProcesoModal">Nuevo proceso</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#eliminarProcesoModal">Eliminar procesos</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#paramsModal">Parámetros</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'index' %}">Reiniciar</a>
                                </div>
                            </div>
                            <h5 class="card-title">Procesos</h5>
                            <table class="table table-hover table-bordered text-center" id="tabla-procesos">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">PID</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Tiempo arribo</th>
                                        <th scope="col">Ráfagas CPU - E/S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="sin-procesos">
                                        <td colspan="4">No hay procesos cargados.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Algoritmo de Planificación</h5>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="algoritmo" id="btn-fcfs" autocomplete="off" value="FCFS" checked> FCFS
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="algoritmo" id="btn-sjf" autocomplete="off" value="SJF"> SJF
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="algoritmo" id="btn-rr" autocomplete="off" value="RR"> RR + Q
                                        </label>
                                        <!-- <label class="btn btn-primary">
                                            <input type="radio" name="algoritmo" id="btn-otro" autocomplete="off" value="other"> Otro
                                        </label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Memoria</h5>
                                        <ul class="nav nav-pills nav-fill" id="nav-tab-memoria" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-item nav-link active" id="nav-particion-fija" data-toggle="tab" href="#tab-particion-fija" role="tab" aria-controls="nav-particion-fija" aria-selected="true">Partición Fija</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-item nav-link" id="nav-particion-variable" data-toggle="tab" href="#tab-particion-variable" role="tab" aria-controls="nav-particion-variable" aria-selected="false">Partición Variable</a>
                                            </li>
                                        </ul>
                                    <div class="tab-content mt-2 ml-2" id="nav-memoria">
                                        <div class="tab-pane fade show active" id="tab-particion-fija" role="tabpanel" aria-labelledby="nav-particion-fija">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="memoria_tipo" id="pf-first-fit" value="pf-first-fit" checked>
                                                <label class="form-check-label ml-2 align-middle" for="pf-first-fit">First Fit</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="memoria_tipo" id="pf-best-fit" value="pf-best-fit">
                                                <label class="form-check-label ml-2 align-middle" for="pf-best-fit">Best Fit</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-particion-variable" role="tabpanel" aria-labelledby="nav-particion-variable">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="memoria_tipo" id="pv-first-fit" value="pv-first-fit">
                                                <label class="form-check-label ml-2 align-middle" for="pv-first-fit">First Fit</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="memoria_tipo" id="pv-worst-fit" value="pv-first-fit">
                                                <label class="form-check-label ml-2 align-middle" for="pv-worst-fit">Worst Fit</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-lg btn-success mt-4" id="iniciar-simulacion" disabled>Iniciar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block modals %}
    {% include 'app/modal_nuevo_proceso.html' %}
    {% include 'app/modal_eliminar_proceso.html' %}
    {% include 'app/modal_params.html' %}
{% endblock modals %}

{% block extra_scripts %}
    <script src="{% static 'app/js/simulacion.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            simulacion.init();
        });
    </script>
{% endblock extra_scripts %}