<!-- Modal eliminar proceso -->
<div class="modal fade" id="eliminarProcesoModal" tabindex="-1" role="dialog" aria-labelledby="eliminarProcesoLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="eliminarProcesoLabel">Eliminar procesos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="eliminar_procesos" id="eliminar_procesos">
					<table class="table table-bordered table-condensed text-center" id="tabla-eliminar-procesos">
						<thead>
							<tr>
								<th scope="col">PID</th>
								<th scope="col">Descripción</th>
								<th scope="col">
									<input type="checkbox" name="eliminar_todos" id="eliminar_todos">
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="sin-procesos">
		                        <td colspan="4">No hay procesos cargados.</td>
		                    </tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-danger" form="eliminar_procesos">Eliminar</button>
			</div>
		</div>
	</div>
</div>
