{% extends "app/layout.html" %}
{% load staticfiles %}

{% block title %}Simulaciones{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
{% endblock extra_head %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item">Simulaciones</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered table-striped table-sm text-center" id="tabla-resultados">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Algoritmo de planificación</th>
                        <th scope="col">Usuario</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sim in simulaciones  %}
                        <tr class="sin-procesos">
                            <th scope="row">{{ sim.id }}</th>
                            <td>{{ sim.algoritmo_planificacion }}</td>
                            <td>{{ sim.usuario.username }}</td>
                            <td>
                                <a href="{% url 'simulacion' id=sim.id %}" class="btn btn-success btn-sm">Ver resultados</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
