#progress-cpu,
#progress-es,
#progress-memory {
	height: 60px;
}
#progress-cpu-time,
#progress-es-time,
#progress-memory-size  {
	height: 30px;
}
.progress-bar:hover {
	cursor: pointer !important;
}
.bg-none {
	background: none !important;
}
.bg-white {
	background: #fff !important;
	border-right: 1px dotted black;
}
.bg-white:last-child {
	border: none !important;
}
.bg-dodgerblue {
	background-color: #1E90FF !important;
}
.bg-darkcyan {
	background-color: #008B8B !important;
}
.bg-chartreuse {
	background-color: #7FFF00 !important;
}
.bg-olivedrab {
	background-color: #6B8E23 !important;
}
.bg-violet {
	background-color: #EE82EE !important;
}
#progress-memory {
	border: 1px dotted black !important;
}
#progress-memory .bg-none {
	background-color: #cccccc !important;
}
#progress-memory .bg-none {
	border-right: 1px dotted black;
}
#progress-memory .bg-none:last-child {
	border: none !important;
}
